// color txt

$colortxtsubhead: hsl(276, 100%, 81%);
$colortxtchatleft: hsl(276, 55%, 52%);
$colortxtchatright: hsl(271, 15%, 43%);
$placeholdertext: hsl(206, 6%, 79%);

// partie 2
$colortitle: hsl(271, 36%, 24%);
$colortxt: hsl(270, 7%, 64%);

// background

$appbackground: hsl(270, 20%, 96%);
$submitbutton: hsl(271, 36%, 24%);
$radiobutton: hsl(289, 100%, 72%);

// margin

$marginmobapptxt: 10px;
